<!-- Navigation bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" id="home">News Scraper</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/saved">Saved Articles <span class="sr-only">(current)</span></a></li>
      </ul>
      <form action="/scrape" method="POST" class="navbar-form navbar-left">
        <button type="submit" class="btn btn-default">SCRAPE NEW ARTICLES</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--End Navigation-->

<!-- Main container -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron vertical-center" >
        <div class="backgroundpic" style="height: 200px">
         <div class="layer container text-center" style="height: 200px;">
          <br><br><br>
          <h1>Saved Articles</h1>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#each articles}}
       <div class="card w-75">
        <div class="card-body">
         <h3 class="card-title"><a href="{{this.link}}" target="_blank">{{this.title}}</a></h3>
          <div class="card-subtitle">
              <button id="modalbutton" type="submit" class="btn btn-default" data-toggle="modal" data-id={{this.id}} data-target="#myModal" style="padding-right: 30px;padding-left: 30px;">ARTICLE NOTES</button><br><br>
              <form action="/delete/{{this.id}}?_method=DELETE method="POST">
                <button type="submit" class="btn btn-default" style="letter-spacing: 1px;">DELETE FROM SAVED</button>
              </form>
            </div>
            </div>
            </div>
            </div>
            </div>
          <div class="row">
            <div class="col-xs-12>">
              <div class="panel-body">
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Notes for Article </h4>
      </div>
      <div class="modal-body">
        <div id="notes"></div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<!--  -->
<script src="/asset/js/script.js"></script>