@font-face {
font-family: Windsor;
src: url("WindsorBTRoman.ttf");
}

body{
    font-family: 'Helvetica Neue';
    font-weight: bold;
}

html {
	font-size: 12px;
}



li { 
    margin-bottom: 1%;
    color:#505050;
}

p {
	font-size: 16px;
	margin-left: 1%;
	margin-top: 1%;
}

#home{
    font-family: Windsor;
    color: #505050;
}

#bodyinput {
    width: 50%;
}

.backgroundpic {
    border-radius: 6px;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    height: 360px;
    width: 95%;
    font-family: Windsor;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.layer {
    background-color: rgba(40, 40, 40, 0.7);
    height: 360px;
    border-radius: 6px;
}

.jumbotron{
    background-color: transparent;
}


.navbar{
    color: #282828;
    background-color: white;
}

.btn{
    font-weight: bold;
    color:#444444;
    background-color: #e2e2e2;
    letter-spacing: 1.5px;
}

#savenote {
    display: block;
}

.card-body{
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f7f7;
    width: 65%;
    padding: 12px;
    margin-bottom:20px;
    border-radius: 8px;
    font-family: 'Helvetica Neue'
}


@media screen and (max-width: 640px) {
	
}